<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onSavePost()" >
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
 
        placeholder="Post Title"
       >
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filepicker.click()">
        Choose Image
      </button>
      <input type="file" #filepicker>
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
         placeholder="Post Content"
        ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>
</mat-card>
